.Search {
      padding: 1rem;
      border: 0;
      box-shadow: 0 0 10px 2px #555;
      margin: 0 2.5rem;
      border-radius: .5rem;
      width: 30rem;
      font-size: 1.4rem;
}

.Search:disabled {
      /* box-shadow: 0 0 0 0; */
      opacity: .25;
}